*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container{
    width: 100%;
    max-width: 1650px;
    margin: 0px auto;
    padding: 0px 50px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_primary{
    color: #FFFFFF;
}


/* header starts here */
.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 339px;
    background-image: url('./assets/images/navbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.navbar{
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}
.navbar .nav_logo{
    width: 264px;
    height: 64px;
}
.navbar ul{
    list-style: none;
    gap: 30px;
}
.navbar ul li{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;

}
.navbar .btns {
    gap: 20px;
}
.navbar .btns button{
    width: 126px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #CECECE;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
}
.navbar .btns .sign_up{
    background-color: #0E7A31;
}
.header .hr{
    border: 0;
    height: 0.3px; 
    background-color: #CECECE;
}
.header .circle{
    width: 90px;
    height: 90px;
    border: 1.5px solid #FFFFFF;
    border-radius: 90px;
    position: absolute;
    bottom: -20px;
    left: 50%;
}

.hamburger{
    display: none;
    font-size: 24px;
}

.mob_navbar{
    display: none;
    position: absolute;
    flex-direction: column;
    width: 60%;
    top: 0px;
    right: 0px;
    background-color: #0e7a30fb;
    height: 100vh;
    padding: 20px;
}
.mob_navbar ul{
    list-style: none;
    gap: 8px;
    flex-direction: column;
    width: 100%;
}
.mob_navbar ul li{
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100%;
    text-align: center;

    padding: 12px;
    border-radius: 5px;
}
.mob_navbar ul li:hover{
    background-color: #1ebb52;
}
.mob_navbar .mob_btns button{
    width: 126px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #CECECE;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 10px;
}
.mob_navbar .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    font-size: 30px;
}

.active{
    display: flex;
    text-align: center;
}
/* header ends here */


/* cards section starts here */

.cards_section{
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.cards_section .card{
    width: 400px;
    height: 550px;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(182, 181, 181);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.cards_section .card .main_img{
    width: 100%;
    height: 286px;
}
.cards_section .card .sub_img{
    width: 75px;
    height: 75px;
    margin-top: -40px;
}
.cards_section .card h2{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #3F3F3F;
    text-align: center;
    margin-top: 10px;
}
.cards_section .card p{
    font-size: 16px;
    line-height: 22px;
    color: #3F3F3F;
    text-align: center;
}
.cards_section .card button{
    width: 126px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #CECECE;
    border-radius: 5px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #3F3F3F;
}

/* pagination starts here */
.card_pagination{
    width: 100%;
    gap: 10px;
    margin-top: 20px;
}
.card_pagination button{
    width: 40px;
    height: 40px;
    border: 0.5px solid #0CA940;
    border-radius: 5px;
    color: #3F3F3F;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
}
.card_pagination img{
    cursor: pointer;
}
/* pagination ends here */
/* cards section ends here */


/* contact section starts here */
.main_contact{
    width: 100%;
    height: 550px;
    background-image: url('./assets/images/contactbg.png');
    background-size: cover;
    background-position: center ;
    margin-bottom: 100px;
    display: flex;
    justify-content: end;
}
.main_contact .contact_form{
    height: 100%;
    width: 536px;
    background-color: #ebebeb6c;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    padding: 20px;
    gap: 20px;
}
.main_contact .contact_form h3{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
    color: #0E7A31;
    font-weight: bold;

}
.main_contact .contact_form h2{
    font-size: 52px;
    line-height: 63px;
    letter-spacing: 1px;
    color: #3F3F3F;
    font-weight: bold;

}
.main_contact .contact_form .inputs{
    width: 100%;
    gap: 15px;
}
.main_contact .contact_form .inputs input{
    width: 100%;
    height: 54px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 18px;
    color: #3F3F3F;
}
.main_contact .contact_form textarea{
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}
.main_contact .contact_form .form_btn{
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 8px 16px;
    border: none;
    width: max-content;
    background-color: #0E7A31;
}
/* contact section ends here */

/* footer section start here */
.footer{
    width: 100%;
    padding: 30px 0px;
    background-color: #05441A;
}

.main_footer{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
}
.main_footer p{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 30px;
}
.main_footer .f_first{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}
.main_footer .f_first .f_logo{
    width: 200px;
    height: 50px;
}
.social{
    gap: 10px;
    display: flex;
}
.social .social_icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.main_footer .f_second{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #FFFFFF;
    width: 200px;
}
.main_footer .f_second h2{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
}
.main_footer .f_second ul{
    list-style: none;
    flex-direction: column;
    display: flex;
    gap: 10px;
    margin-top: 10px;

}
.main_footer .f_second ul li{
    list-style: none;
    font-size: 18px;
    cursor: pointer;

}
.main_footer .f_second .subscribe{
    display: flex;
    border: 1px solid white;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}
.main_footer .f_second .subscribe input{
    border: none;
    outline: none;
    font-size: 18px;
    color: #FFFFFF;
    flex-grow: 3;
    padding-left: 10px;
    background-color: transparent;

}
.main_footer .f_second .subscribe button{
    flex-grow: 1;
    border: none;
    background-color: #FFFFFF;
    color: #0CA940;
    font-size: 18px;
    padding: 3px 8px;
    cursor: pointer;
}
.footer .container .hr{
    margin-top: 20px;
}
.footer_end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap-reverse;
}
.footer_end span{
    color: #FFFFFF;
}
.footer_end .f_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer_end .f_links li{
    list-style: none;
    color: #FFFFFF;
    cursor: pointer;
}
/* footer section ends here */









/* media queries for responsiveness */

@media only screen and (max-width: 960px) {
    /* navbar */
    .navbar .nav_logo{
        width: 200px;
        height: 50px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .navbar ul, .navbar .btns {
        display: none;
    }
    .main_footer{
        font-size: 14px !important;
    }
    .footer_end span{
        font-size: 14px;
        text-align: center;
        margin-top: 10px;
    }
    .footer_end .f_links li{
        font-size: 12px;
    }
}


@media only screen and (max-width: 740px) {
    .main_contact .contact_form{
        width: 100%;
        margin-right: 0px;
    }
}
